#space
{
  margin: 20px;
}

#program-list
{
  overflow: hidden;
}

#wrap-1
{
  flex: 2;
}

#body-container
{

  padding: 25px;
  
  width: 75%;
  height: 600px;

  margin-left: 8%;
  margin-top: 8%;
  
  background: #D9E9FF;
} 


#container-committee
{
  padding: 25px;
  
  width: 75%;
  height: 1330px;

  margin-left: 8%;
  margin-top: 8%;
  margin-bottom: 8%;
  
  background: #D9E9FF;
}

#committee
{
  border-style: solid;
  border-radius: 2px;
  height: 52%;
  padding: 20px;
}

#committee-text
{
  line-height: 2em;
  padding: 5 px;
  border-left: 1.5px solid black;
  height: 500px;
}

ul.committee {

  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;


  color: #000000;
  padding-left: 60px;

  line-height: 100px;
}

#title
{
  margin-top: 5%;
  margin-left: 5%;


    /* Heading 1 */

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;

    /* dark blue */

    color: #3C507B;
}

#left {
  float: left;
  margin-left: 2%;
  margin-top: 5%;
  clear:both;
}

#right {
  border-right: 50px solid #D9E9FF;
  float: right;
  clear: both;
}

#text-LAMP
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  width: 60%;


  margin-left: 30%;
  margin-top: 5%;

  color: #000000;
}

#text-SPIEL
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;


  margin-left: 5%;
  margin-top: 3%;
  width: 620px;
  height: 390px;

  color: #000000;
}

#text-SERVICE
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  margin-left: 800px;
  width: 255px;
  height: 346px;
  
  color: #000000;
}

#text-MENTORSHIP
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2em;

  margin-left: 500px;
  width: 530px; 
  height: 350px;

  color: #000000; 
}

.what-do-we-do {
  background-image: linear-gradient(
      rgba(0,0,0,0.5), 
      rgba(0,0,0,0.5)
    ), url(../../whatwedo-bg.jpeg);
    padding-top: 38.2%;
    background-size: cover;
}

.what-do-we-do-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 128px;
  color: #F2FAFF;
  line-height: 98px;
  padding-left: 105px;
  margin-top: -32%;
}

.what-do-we-do-body {
  padding-right: 100px;
  height: 60px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #D9E9FF;
  padding-left: 193px;
  padding-top: 60px;
}

.subheading {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 60px;
  color: navy;
  text-align: center;
  padding-top: 5vw;

}

.subheading span{
  background-color: #fdfd96;
  padding: 2vw;
}

@media only screen and (max-width: 1400px)  {
    .what-do-we-do-title {
      font-size: 43px;
    }

    .what-do-we-do-body {
      padding-top: 10px;
      padding-left: 105px;
      font-size: 16px;
      line-height: 20px;
    }

    #left {
      display: none;
    }

    #right {
      display: none;
    }

  #title
  {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;


      /* Heading 1 */

      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 55px;

      /* dark blue */

      color: #3C507B;
  }

  #text-LAMP
  {
    font-size: 24px;
    line-height: 30px;

    width: 90%;
    height: 390px;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

  } 

  #text-SPIEL
{
  font-size: 24px;
  line-height: 30px;

  width: 90%;
  height: 390px;

  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#text-SERVICE
{
  font-size: 24px;
  line-height: 30px;

  width: 90%;
  height: 390px;

  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

#text-MENTORSHIP
{
  font-size: 24px;
  line-height: 30px;

  width: 90%;
  height: 390px;

  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

}

@media only screen and (max-width: 753px)
{
  #title
  {
    font-size: 5vw;
    line-height: 1.5em;
  }
  #text-LAMP
  {

    font-size: 3.3vw;
    line-height: 1.2em;

    width: 90%;
    height: 390px;

    margin-left: 5%;
    margin-right: 5%;

  } 
  #text-SPIEL
  {

    font-size: 3.3vw;
    line-height: 1.2em;

    width: 90%;
    height: 390px;

    margin-left: 5%;
    margin-right: 5%;

  }
  
  #text-SERVICE
  {

    font-size: 3.3vw;
    line-height: 1.2em;

    width: 90%;
    height: 390px;

    margin-left: 5%;
    margin-right: 5%;

  }
  
  #text-MENTORSHIP
  {

    font-size: 3.3vw;
    line-height: 1.2em;

    width: 90%;
    height: 390px;

    margin-left: 5%;
    margin-right: 5%;

  }
  
}

@media only screen and (max-width: 825px) {
  .what-do-we-do-title {
    line-height: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .what-do-we-do-title {
    margin-top: -35%;
    padding-left: 50px;
  }

  .what-do-we-do-body {
    padding-left: 50px;
  }
}

body {
  min-width: 470px;
}