#program-list
{
  overflow: hidden;
}

#wrap-1
{
  flex: 1;
}

#external-body-container
{

  padding: 25px;
  
  width: 1110px;
  height: 600px;

  margin-left: 66px;
  margin-top: 197px;
  
  background: #D9E9FF;
} 


#interal-body-container
{

  padding: 25px;
  
  width: 1110px;
  height: 600px;

  margin-left: 66px;
  margin-top: 197px;
  
  background: #D9E9FF;
} 

#title
{
  padding-top: 67px;
  margin-right: 161px;
  margin-left: 40px;


    /* Heading 1 */

    font-family: Overpass Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;

    /* dark blue */

    color: #3C507B;
}

img {
  float: left;
  margin-right: 10px;
  clear:both;
}

#text-LAMP
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  width: 620px;
  height: 390px;

  padding: 20px;
  margin-left: 324px;

  color: #000000;
}

#text-SPIEL
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  margin-left: 20px;
  width: 620px;
  height: 390px;

  padding: 20px;
  color: #000000;
}

#text-SERVICE
{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  margin-left: 800px;
  width: 255px;
  height: 346px;

  padding: 30px;
  color: #000000;
}

.what-do-we-do {
  background-image: linear-gradient(
      rgba(0,0,0,0.5), 
      rgba(0,0,0,0.5)
    ), url(../whatwedo-bg.jpeg);
    padding-top: 38.2%;
    background-size: cover;
}

.what-do-we-do-title {
  font-family: Overpass Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #F2FAFF;
  line-height: 98px;
  padding-left: 105px;
  margin-top: -32%;
}

.what-do-we-do-body {
  padding-right: 100px;
  height: 60px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #D9E9FF;
  padding-left: 193px;
  padding-top: 60px;
}

@media only screen and (max-width: 1000px) {
  .what-do-we-do-title {
    font-size: 43px;

  }
  .what-do-we-do-body {
    padding-top: 10px;
    padding-left: 105px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 825px) {
  .what-do-we-do-title {
    line-height: 50px;
  }
}

@media only screen and (max-width: 540px) {
  .what-do-we-do-title {
    margin-top: -35%;
    padding-left: 50px;
  }

  .what-do-we-do-body {
    padding-left: 50px;
  }
}

body {
  min-width: 470px;
}