@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito+Sans|Overpass+Mono|Playfair+Display'); 

* {
    margin: 0px; 
}

.prospectives {
    overflow: hidden;
}

.wrap2 {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 98px;

    color: navy;

    width: 80%;
    padding-top: 5%;
    margin: auto;
}

.body-1-title{
    font-size: 65px; 
    font-family: 'Overpass Mono', monospace;
    padding: 5%; 
    color: white; 
}

.body-1-prospectives {
    width: 100%;
    padding: 20px; 
    padding-top: 100px; 
    padding-bottom: 250px; 
    background-color: rgba(0,0,0,0.7); 
    background-image: linear-gradient(
        rgba(0,0,0,0.7), 
        rgba(0,0,0,0.7)
      ), url("https://s3-alpha-sig.figma.com/img/36f4/283f/5b2017c194eb2e6009c1689d734cae4d?Expires=1580083200&Signature=Yhearw2fzGWotzi7pEvRf8HS3-KficuItRYom4OVELC-wS-SGE5IdqEiG6i13TFk4Wkvi8t3gXJLJMfs9DfJelKpopZotTkiXcofzcr4a9d~PppQlTg0Wz3f6P0EXGwCWZ3nvNg6NTW6zwF0GVJxAUc5bXrwWPwYRW~6uhH1QUgCgSE2E8hYAlzZjfBQ-kfURgr7dVz4WTx5e5J0tA-6g1iKgNsmnMg1mWp9rXqeijwDBF4IAs6YKVMkjIeXYCKGYr0-kkYdkrKnvjmuzBjfcrRpAGCAC-eyjfSyQmE2T~EYHispDe8rUazOXIkZWmXPvt3nKIHBJLyMWeHurHQLsg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-size: cover;  
    /* height: 100vh; */
}

.body-1-prospectives-text {
    border-left: 1px solid white; 
    color: white;
    padding-left: 1%;
    width: 80%; 
    margin: auto;
    font-size: 24px;
    margin-left: 10%;
    font-family: 'Source Sans Pro';
}

.body-2-prospectives {
    width: 80%; 
    align-items: center;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    margin: auto;

    margin-bottom: 50px;
    margin-top: 50px;
}

.body-3-prospectives {
    width: 80%;
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding: 20px; 

    background-color: #D9E9FF; 

    margin: auto;
}

.blue-padding {
    margin: 15px; 
    padding: 25px; 
}

.capital-heading {
    font-size: 55px;
    color: navy;
    font-style: normal;
    width: 80%;
    padding: 50px; 

    margin: auto;
    font-family: Overpass Mono;
}

table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

td.vertical-line {
    border-right: solid 1px black; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-prospectives {
    font-style: normal;
    font-family: Nunito Sans;
    font-size: 24px;
    margin: 15px; 
    padding: 25px; 
}

.button-wrap {
    text-align: center; 
    font-family: Overpass Mono;
    font-style: SemiBold;
}

.left-padding {
    padding-left: 15%;
}

.button-1 {
    font-family: 'Overpass Mono', sans-serif;
    background-color: #3C4856; 
    border-radius: 10px; 
    border: 1px solid #000000;
    font-size: 16px; 
    padding-left: 13px; 
    padding-right: 13px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
    margin-left: auto; 
    margin-right: auto; 
}

.button-1:hover {
    text-decoration: underline; 
    cursor: pointer;
}

.capital-heading2 {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 98px;
    text-align: left;
    
    color: #000000;
    
    width: 80%;
    margin: auto;

    margin-top: 10%;
}

.capital-heading3 {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 74px;
    text-align: center;

    float: left;
    clear: both;

    width: 80%;
    margin: 3%;
    margin-left: 10%;

    color: #000000;

    border-bottom: 1px solid black;
}

.wrap4 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    width: 80%;
    margin-left: 10%;

    color: #000000;
}

.wrap5 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    width: 80%;
    margin-left: 10%;

    color: #000000;

    display: flex;
}

.group1 {
    margin-right: 3%;
}

.group2 {
    margin-left: 3%;
}

.capital-heading4 {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 74px;
    text-align: center;

    color: #000000;

    border-bottom: 1px solid black;
}

.m-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

.body-3-prospectives3 {
    width: 60%;
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding: 20px; 

    background-color: #D9E9FF; 

    margin: auto;
    margin-top: 5%;

    width: 80%;
}

.faq-header {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 74px;
    text-align: right;

    color: #000000;

    padding-right: 3%;
    padding-top: 3%;
}

.faq-q {
    font-family: Overpass Mono;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;

    color: #3C507B;

    border-bottom: 1px #3C507B solid;
    padding: 2%;
    padding-top: 3%;

    margin-left: 7%;
    margin-right: 7%;
}

.faq-a {
    font-family: Source Sans Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #000000;

    padding: 1.5%;
    padding-left: 10%;

    margin-left: 7%;
    margin-right: 7%;
}
