*{
    margin: 0px; 
}
.top-bar{
    background-color: black; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    font-family: 'Playfair Display', monospace;
}
.top-rssla{
    color: #F2FAFF; 
    font-size: 10vw; 
    padding: 5%; 
    font-weight: 400; 
    text-decoration: none;
}
.top-rssla:hover{
    color: white;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item{
    text-decoration: none; 
    color: aliceblue; 
}
.menu{
    display: flex; 
    flex-direction: row; 
    color: #F2FAFF; 
    width: 60%; 
    justify-content: space-around; 
    font-size: 10vw; 
    margin-top: auto;
    margin-bottom: auto; 
    font-family: 'Source Sans Pro', monospace;
}
.menu-item:hover{
    color:white; 
    text-decoration: underline; 
    cursor: pointer;
    opacity: 0.6;
}
.logo{
    width: 15%;
    height: auto;
    padding-left: 3%;
    padding-top: 3%
}