.footer{
    display: flex; 
    flex-direction: row;
    background-color: black; 
    color: white; 
    font-family: 'Source Sans Pro', serif;
    padding: 1%; 
    vertical-align: center;
}
.footer-1{
    font-size: 1vw;
    padding: 1%
}
.footer-2{
    width: 10%;
    margin-top: 1%;
}
.footer-3{
    width: 9%;
    margin-top: 0.9%;
}
.socialmedia{
    width: 25%;
    height: auto;
}
.credits{
    text-align: left;
    font-size: 1vw;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.logo_footer{
    width: 10%;
    height: auto;
}