*{
  margin: 0px; 
}
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito+Sans|Overpass+Mono|Playfair+Display|Source+Sans+Pro'); 

.top-bar{
  background-color: black; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  font-family: 'Playfair Display', monospace;

}
.top-rssla{
  color: #F2FAFF; 
  font-size: 48px; 
  padding: 10px; 
  font-weight: 400; 
}
.menu{
  display: flex; 
  flex-direction: row; 
  color: #F2FAFF; 
  width: 60%; 
  justify-content: space-around; 
  font-size: 18px; 
  margin-top: auto;
  margin-bottom: auto; 
}
.menu-item:hover{
  color:white; 
  text-decoration: underline; 
  cursor: pointer;
}
.body-1{
  /* background-color: #F2FAFF;  */
  padding: 20px; 
  padding-top: 100px; 
  padding-bottom: 250px; 
  background-color: rgba(0,0,0,0.7); 
  background-image: linear-gradient(
      rgba(0,0,0,0.7), 
      rgba(0,0,0,0.7)
    ), url("http://rssla.org/img/banner-bg1.jpg");
  background-size: cover;  
}
.body-1-title{
  width: 70%; 
}
.body-1-rssla{
  font-size: 100px; 
  font-family: 'Overpass Mono', monospace;
  margin-left: 15%; 
  color: white; 
}
.body-1-rssla-text{
  margin-left: 15%; 
  font-family: 'Libre Baskerville', serif;
  font-weight: lighter; 
  font-size: 30px; 
  color: white; 
}

.body-1-text{
  padding: 20px; 
  font-family: 'Libre Baskerville', serif;    
  font-size: 18px; 
  color: white; 
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
}
.button-wrap{
  text-align: center; 
}
.body-1-button{
  font-family: 'Overpass Mono', sans-serif;
  background-color: #3C4856; 
  border-radius: 10px; 
  border: 1px solid #000000;
  font-size: 16px; 
  padding-left: 3%; 
  padding-right: 3%; 
  padding-top: 1%; 
  padding-bottom: 1%; 
  color: white; 
  margin-left: auto; 
  margin-right: auto; 
}

.body-1-button:hover{
  text-decoration: underline; 
  cursor: pointer;
}
.body-2{
  padding: 20px; 
  margin-top: 50px; 
  margin-bottom: 50px; 
}

.body-2-title{
  font-family: 'Overpass Mono', monospace;
  font-size: 4.5vw; 
  text-align: center; 
  width: 45%;
  color: #3C507B; 
  margin-left: 8vw; 
}
.body-2-text-1{
  font-size: 1.8vw; 
  font-family: 'Libre Baskerville', serif;    
  width: 80%; 
  padding: 20px; 
  margin: 20px; 
  border-left: 1px solid black; 
}
.body-2-text-2-wrap{
  width: 93%; 
}
.body-2-text-2{
  font-size: 1.8vw; 
  font-family: 'Source Sans Pro', serif;   
  border-left: 1px solid black; 
  text-align: left; 
  width: 80%; 
  padding: 20px; 
  padding-left: 30px;  
  margin: 20px;  
  margin-left: 13%; 
  color: #0B3C5D; 
}
.img-row{
  display: flex; 
  flex-direction: row; 
  justify-items: auto; 
}

.img-1{
  width: 30%; 
  height: auto; 
  border-right: 1px solid black; 
  padding: 10px; 
  padding-right: 15px; 
}
.img-2{
  width: 30%; 
  padding: 10px; 
  height: auto; 
}

.body-3{
  padding: 20px; 
  margin-top: 50px; 
  margin-bottom: 50px; 
}
.body-3-wrap{
  display: flex; 
  flex-direction: row; 
}
.body-3-title{
  font-family: 'Overpass Mono', monospace;
  font-size: 4.5vw; 
  text-align: center; 
  margin: 10px; 
  margin-top: auto; 
  margin-bottom: auto; 
  margin-left: 5%; 
  width: 13%; 
  height: auto; 
}
.pillar-wrap{
  margin: 20px; 
  margin-right: 10vw; 
}
.pillar{
  text-align: center; 
  background-color: #D9E9FF; 
  margin: 15px; 
}
.pillar-text-1{
  font-family: 'Overpass Mono', monospace;
  color: #3C507B; 
  font-size: 30px; 
  padding: 20px; 
  padding-top: 30px; 
  text-align: right; 
}
.pillar-text-2{
  font-family: 'Source Sans Pro', serif;
  color: black; 
  font-size: 18px; 
  text-align: right; 
  padding: 20px; 
}

.sponsors{
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding: 20px; 
}
.sponsors-title{
  width: 30%; 
  font-size: 4.5vw; 
  text-align: left; 
  font-family: 'Overpass Mono', monospace;
  margin-left: 8vw; 
}
.sponsor-1-wrap{
  border-left: 1px solid black; 
  margin-left: 15%; 
  padding-left: 8%; 
}
.sponsor-1{
  background-color: #C4C4C4; 
  width: 50%; 
  font-size: 24px; 
  color: #009AFA; 
  padding: 20px; 
  margin: 20px; 
  font-family: 'Overpass Mono', monospace;
  text-align: center; 
}
